.jb-division-line {
  border-top: 1px solid #ececec;
  margin: 30px 0px;
}

.footer {
  padding-top: 30px;
  background-color: #ececec;
}

/* 일반 계산기 */
.CommonCal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 70%;
  justify-content: center;
  margin-bottom: 30px;
}

.ButtonToolbar {
  width: 100%;
}

.CommonCal .result {
  height: 60px;
  background-color: #ececec;
  width: 100%;
  border-radius: 5px;
  font-size: 40px;
  margin-bottom: 10px;
  color: #000000;
  text-align: right;
}

.CommonCal .button {
  display: inline-block;
  width: 25%;
  height: 80px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: auto;
  border: 1px solid;
}

.CommonCal .calculator {
  align-items: center;
}

/* 단위 계산 */
.ConvertCal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 이자 계산 */
div.Interest {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
